* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

:root {
    /* Cores Principais */
    --color-red: #E3646E;
    --color-purple: #BB72E9;
    --color-blue: #3996DB;
    --color-green: #82BC4F;
    --color-yellow: #EABD5F;

    /* Cores Base */
    --color-gray-100: #0D0E11;
    --color-gray-200: #16181D;
    --color-gray-300: #292C34;
    --color-gray-400: #878EA1;
    --color-gray-500: #C0C4CE;
    --color-gray-600: #E2E4E9;

    /* Fontes */
    --font-family-asap: 'Asap', sans-serif;
    --font-family-inconsolata: 'Inconsolata', monospace;
    --font-family-maven-pro: 'Maven Pro', sans-serif;

    /* Títulos (Font Family: Asap) */
    --title-lg: 700 56px/120% var(--font-family-asap);
    --title-md: 700 24px/120% var(--font-family-asap);
    --title-sm: 700 16px/120% var(--font-family-asap);

    /* Subtítulo (Font Family: Inconsolata) */
    --subtitle: 400 20px/120% var(--font-family-inconsolata);

    /* Texto (Font Family: Maven Pro) */
    --text-md: 400 16px/140% var(--font-family-maven-pro);
    --text-sm: 400 14px/140% var(--font-family-maven-pro);
}

body, input, button, textarea {
    font: var(--text-md);
}

h1, h2, h3 {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--color-gray-300);
    color: var(--color-gray-600);
}

.container {
    max-width: 1040px;
}